@{
    ViewBag.Title = "Binding with";
}

<h2>Binding with</h2>

<h3 data-bind="text: city"> </h3>
<p data-bind="with: coords">
    Latitude: <span data-bind="text: latitude"> </span>,
    Longitude: <span data-bind="text: longitude"> </span>
</p>

@section scripts{
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript">
        ko.applyBindings({
            city: "London",
            coords: {
                latitude: 51.5001524,
                longitude: -0.1262362
            }
        });
    </script>
}