@{
    ViewBag.Title = "Binding-css";
}

<style>
    .active {
        color: red;
    }

    .un{
        text-decoration:underline;
    }
</style>

<h2>Binding css</h2>

<div>
    <input type="checkbox" data-bind="checked: cor" /> Cor
</div>
<div>
    <input type="checkbox" data-bind="checked: underline" /> Underline
</div>
<p data-bind="css: {active: cor, un: underline}">Teste Binding css</p>

@section scripts{
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script>
        var vm = {
            cor: ko.observable(false),
            underline: ko.observable(false)
        };
        ko.applyBindings(vm);
    </script>
}