@{
    ViewBag.Title = "Binding-style";
}

<h2>Binding style</h2>

<div>
    <input type="checkbox" data-bind="checked: cor" /> Cor
</div>

<p data-bind="style: { color: cor() ? 'red' : 'black' }">Teste Binding css</p>

@section scripts{
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script>
        var vm = {
            cor: ko.observable(false),
        };
        ko.applyBindings(vm);
    </script>
}