@{
    ViewBag.Title = "Introducao1";
}

<h2>Introducao</h2>

<div class="form-inline">
    <div class="form-group">
        <label for="inputName">Nome</label>
        <input type="text" class="form-control" id="inputName" data-bind="value : nome, valueUpdate : 'afterkeydown'">
        <input type="checkbox" class="form-control" checked data-bind="checked : nomeVisible" />
    </div>
</div>
<div class="form-group">
    <p>
        Olá <span data-bind="text: nome, visible : nomeVisible"></span>
    </p>
    <p data-bind="text:displayNome" class="alert alert-success"></p>
</div>
<div class="form-group">
    <button class="btn btn-default" data-bind="click: changeNome">Alterar nome</button>
</div>

@section scripts{
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script>
        $(function () {
            var viewModel = {
                nome: ko.observable("Fabiano Nalin"),
                changeNome: function () {
                    this.nome("Nalin - alterado!");
                    VoltarFoco();
                },
                nomeVisible: ko.observable(true),
            };

            viewModel.displayNome = ko.computed(function () {
                return this.nome() + " está " + (this.nomeVisible() == true ? "sendo exibido" : "está oculto")
            }, viewModel);

            ko.applyBindings(viewModel);

            VoltarFoco();

        })

        function VoltarFoco() {
            $("input[type='text']").focus();
        }
    </script>

}